.features-container {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    gap: 5rem;
}

.feature-title {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    width: 30%;
}

.feature-title img {
    width: 18%;
    background-color: lightblue;
    border-radius: 50%;
}

.feature-title h2, .feature h4 {
    margin-bottom: 0.5rem;
}

.feature-title h2 {
    font-size: 2rem;
}

.feature h4 {
    margin-top: 3rem;
    margin-bottom: 0;
    color: #194185;
}

.features {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 2rem;
}

.feature {
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: rgba(176, 218, 255, 0.2);
    border: none;
}

.feature .f-img {
    width: 12%;
}

.feature p, .feature-title p {
    font-size: 18px;
    font-weight: regular;
    color: #667085;
}

.feature p {
    margin-top: 0.5rem;
}

.integration {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.integration p {
    margin: 0;
    color: blue;
    font-size: medium;
}

@media (max-width: 768px) {
    .features-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .feature-title {
        width: 60%;
    }
  
    .features {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .feature {
        width: 60%;
    }
  }