#lms-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

#lms-info h5 {
    background-color: #94dfec;
    font-size: large;
}

.info-container {
    display: flex;
    flex-direction: row;
    padding-left: 5rem;
    align-items: center;
}

.info-container img {
    width: 50%;
    height: 50%;
}

.lms-purpose p{
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    color: #1D2939;
    width: 90%;
    margin-bottom: 0.8rem;
}

.lms-purpose button {
    height: 3rem;
    width: 10rem;
    text-align: center;
    padding: 0.5rem;
    background-color: #1570EF;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: medium;
    margin-top: 0.5rem;
}