.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    height: 3rem;
}

.nav-links, .auth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: inherit;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.auth {
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
}

.auth button {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
}

.auth button:hover {
    background-color: #1570EF;
    color: white;
}

.su {
    background-color: #1570EF;
    color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.li {
   background-color: white;
}

.auth button:active {
    background-color: #1570EF;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}